{{ tabs = $ctrl.tabs; "" }}
{{ posts = $ctrl.posts; "" }}
{{ currentPost = $ctrl.currentPost; "" }}

<div class="grid-x grid-margin-x">
  <div class="cell medium-3 large-12 nav">
    <post-tabs tabs="tabs" update-current-tab="$ctrl.updateCurrentTab(tab)"></post-tabs>
  </div>

  <div class="cell medium-9 large-3 sidebar">
    <post-list posts="posts" current-tab="$ctrl.currentTab" update-current-post="$ctrl.updateCurrentPost(post)"></post-list>
  </div>

  <div class="cell medium-12 large-9 main">
    <post-detail post="currentPost"></post-details>
  </div>
</div>
