{{ posts = $ctrl.posts; "" }}
{{ currentTab = $ctrl.currentTab; "" }}

<div class="post-list" ng-if="!posts || posts.length === 0">
  <p>No posts currently</p>
</div>

<div class="post-list" ng-if="posts && posts.length > 0">
  <div class="heading">
    <h4>{{ currentTab }}</h4>
  </div>

  <div class="post-list-contents" ng-repeat="post in posts" ng-click="$ctrl.setCurrentPost(post)">
    <h5 class="title">{{ post.Title }}</h4>

    <div class="speaker" ng-repeat="speaker in post.Speakers">
      {{ speaker.FirstName }} {{ speaker.LastName }}, {{ speaker.Company }}
    </div>
  </div>
</div>
