{{ tabs = $ctrl.tabs; "" }}

<div class="post-tabs">
  <ul class="menu">
    <li class="tab" ng-repeat="tab in tabs" ng-click="$ctrl.setCurrentTab(tab)">
      <a href="#">{{ tab }}</a>
    </li>
  </ul>
</div>