{{ post = $ctrl.post; "" }}

<div class="post-detail">
  <h2 class="title">{{ post.Title }}</h2>

  <div class="speaker" ng-repeat="speaker in post.Speakers">
    {{ speaker.FirstName }} {{ speaker.LastName }}, {{ speaker.Company }}
  </div>

  <div class="description">
    {{ post.Description }}
  </div>

  <div class="about-speaker" ng-if="post.Speakers.length > 0">
    <h3 class="section">About the speaker</h3>

    <div class="post-speaker" ng-repeat="speaker in post.Speakers">
      <div class="title">
        <span class="bold">{{ speaker.FirstName }} {{ speaker.LastName }}</span>, {{ speaker.Title }}, {{ speaker.Company }}
      </div>

      <div class="biography">
        {{ speaker.Biography }}
      </div>
    </div>
  </div>
</div>
