// base
@charset "utf-8"
$font-base: 16px

// utilities
@import 'utility/settings'
@import 'utility/constants'
@import 'utility/colors'
@import 'utility/functions'
@import 'utility/mixins'

// components
@import 'component/header'
@import 'component/post-tabs'
@import 'component/post-list'
@import 'component/post-detail'

// app
.app
  @include plain-font(16px)
  background: $bg
  line-height: 1.75rem
  margin: 0 auto

  h2
    @include bold-font(40px)
    color: $atlassian
    line-height: 1.25em

  h3
    @include bold-font(30px)
    color: $atlassian

  h4
    @include bold-font(24px)
    color: $atlassian

  h5
    @include plain-font(16px)
    color: $atlassian
    font-weight: 500

  a
    color: inherit
    text-decoration: none

  .bold
    font-weight: 600