@mixin plain-font($fontsize: 16px)
  font-family: LLCircularWeb, "Helvetica Neue", Helvetica, sans-serif
  font-size: px-to-rem($fontsize)
  font-weight: 400

@mixin fancy-font($fontsize: 16px)
  font-family: Futura, "Helvetica Neue", Helvetica, sans-serif
  font-size: px-to-rem($fontsize)
  font-weight: 400

@mixin bold-font($fontsize: 16px)
  font-family: LLCircularWeb, "Helvetica Neue", Helvetica, sans-serif
  font-size: px-to-rem($fontsize)
  font-weight: 600
