.logo-bar
  background: $atlassian
  height: 46px
  position: absolute
  width: 100%
  z-index: -1

.header
  height: 220px

  .logo
    padding: 7px 0

  .headline
    @include fancy-font(16px)
    color: $gray
    font-weight: 200
    text-align: center

  .page-title
    padding: 32px 0 14px