.post-tabs

  .menu
    border-bottom: 1px solid $bd
    margin-bottom: 48px

    .tab
      @include plain-font(15px)
      border: 1px solid $bd
      border-bottom: none;
      border-right: none;
      cursor: pointer

    .tab:first-child
      border-top-left-radius: 5px 5px

    .tab:last-child
      border-right: 1px solid $bd
      border-top-right-radius: 5px 5px

  @media screen and (max-width: 63.9375em)
    .menu
      display: list-item

      .tab
        border-radius: unset !important
        border-right: 1px solid $bd
        text-align: center
