.post-list

  .heading
    padding-bottom: 5px
    border-bottom: 2px solid $bd

  .post-list-contents
    border-bottom: 1px solid $bd
    cursor: pointer
    padding: 10px

    .title
      margin-bottom: .25rem

    .speaker
      @include plain-font(14px)
      color: $ft-lt
      line-height: 1.25rem

  @media screen and (max-width: 63.9375em)
    margin-bottom: 48px